body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
}

.app {
  width: 900px;
  margin: 20px auto;
}

h1 {
  margin-bottom: 25px;
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin-right: 20px;
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

hr {
  margin-bottom: 25px;
}

ul {
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}