body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
}

.container {
  width: 700px;
  margin: 150px auto;
  display: flex;
  justify-content: space-between;
}

.counter-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

button {
  background: limegreen;
  color: white;
  border: 1px solid green;
  padding: 6px 15px;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background: green;
}

span {
  font-size: 18px;
}